.swiper-slide {
  transition: all 300ms ease;
  padding: 1rem;
}

.swiper-slide-active {
  z-index: 2;
}

@media (max-width: 768px) {
  .swiper {
    padding: 2rem 0;
  }

  .swiper-slide {
    padding: 0.5rem;
  }
}
